# Ignore everything
*

# But descend into directories
!*/

# but still exclude generated folders
*bin

# And permit certain files
!.dockerignore
!.gitignore
!Dockerfile
!go.mod
!go.sum
!go.work
!go.work.sum
!LICENSE
!Makefile

# And filetypes
!*.go
!*.md
!*.py
!*.sql
!*.toml
!*.yaml
!*.yml

# dbt-generated artifacts
analytics/.user.yml
analytics/dbt_packages/
analytics/logs/
analytics/target/
